# if stataement

In [8]:
a=int(input("Enter a number:"))
if(a>50):
    print("a is greater than 50")
print("This is outside the body of if statement")

Enter a number: 55

a is greater than 50
This is outside the body of if statement

# if Else Statement

In [21]:
x=int(input("Enter a Number:"))
if(x>=50):
    print(True,",a is greater than or equal to 50")
else:
    print(False)

Enter a Number: 49

False

In [4]:
y=int(input("Enter a number"))
if y%2==0:
    print("y is Even number")
else:
    print("y is not Even number")

Enter a number 67

y is not Even number

# Nested if Statement

In [15]:
num=int(input("Enter a number:"))
if (num<50): #body of if
    if num%2==0:
        print("Number is less than 50 and even number")
    else:
        print("Number is less than 50 and Odd number")
else:
    print("Number is greater than 50")

Enter a number: 50

Number is greater than 50

In [95]:
Mark=int(input("Enter your Mark:"))
age=int(input("Enter your age:"))
if(Mark>=80):
    if age>18:
        print("You are eligible to apply Scholarship")
    else:
        print("Your Percentage or age is not eligible to apply for this Scholarship")
else:
    print("You are Not eligible for scholarship")

Enter your Mark: 89
Enter your age: 18

Your Percentage or age is not eligible to apply for this Scholarship

# if-Elif-Else Statement

In [126]:
Mark=int(input("Enter your Mark:"))
if(Mark>=35 and Mark<=45):
    print("C Grade in Exam")
elif(Mark>45 and Mark<=50):
    print("C+ Grade in Exam")
elif(Mark>50 and Mark<=70):
    print("B Grade in Exam")
elif(Mark>70 and Mark<=80):
    print("B+ Grade in Exam")
elif(Mark>80 and Mark<=90):
    print("A Grade in Exam")
elif(Mark>90 and Mark<=100):
    print("S Grade in Exam")
else:
    print("You had Failed in Exam")

Enter your Mark: 45

C Grade in Exam

# Python Loop

In [142]:

for i in range(1,11):
    print(i,"x","3","=",i*3)

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

# While Loop

In [34]:
Num=int(input("Enter a Multiple of 8:"))
while Num%8!=0:
    Num=int(input("Enter a Multiple of 8:"))
else:
    print("%d Multiple of 8"%Num)

Enter a Multiple of 8: 90
Enter a Multiple of 8: 98
Enter a Multiple of 8: 16

16 Multiple of 8

In [30]:
Ann_in=int(input("Enter your annual income:"))
while Ann_in<80000:
    Ann_in=int(input("Enter your annual income:"))
else:
    print("%d Annual Income is eligible to get Loan"%Ann_in)

Enter your annual income: 89000

89000 Annual Income is eligible to get Loan

# For Loop

In [37]:
# For loop using list
x=[0,19,20,"Selenophile","Demon",1080]
for i in x:
    print(i)

0
19
20
Selenophile
Demon
1080

In [39]:
#For loop using string
y="Selenophile"
for i in y:
    print(i)

S
e
l
e
n
o
p
h
i
l
e

# Nested Loop

# for in for

In [4]:
y=[[10,20,30],['x','y','z']]
for i in y:
    for j in i:
        print(j, end=" ")
    print()
    #print(i)

10 20 30
x y z

In [63]:
y=[(10,20,30),('x','y','z'),("Naruto","Minato","Jiraya")]
for i in y:
    
    for j in i:
        print(j, end=",")
    print()

10,20,30,
x,y,z,
Naruto,Minato,Jiraya,

In [81]:
x=[[1,2],[3,4,5],[6]]
for inner in x:
    #print(inner)
    
    for outer in inner:
        print(inner*2,end=" ")
    print()

[1, 2, 1, 2] [1, 2, 1, 2]
[3, 4, 5, 3, 4, 5] [3, 4, 5, 3, 4, 5] [3, 4, 5, 3, 4, 5]
[6, 6]

In [99]:
x = [[1, 2], [3, 4, 5], [6]]
for outer in x:
    #print(outer)
    
    for inner in outer:
        print(inner * 2, end=" ")
    print()

2 4
6 8 10
12

In [107]:
y=[(10,20,30),('x','y','z'),("Naruto","Minato","Jiraya")]
for i in y:
    #print(i)
    for j in i:
        print(j)

10
20
30
x
y
z
Naruto
Minato
Jiraya

# Loop Control Statement

# Using Break keywork

In [24]:
z="12+6=18,12-6=6,19+0=19"
for i in z:
    if i==",":
        break
    print(i, end="")

12+6=18

# Using Continue Keyword

In [14]:
for i in(6,10,12,19,20,80,120):
    if i>20:
        continue
    print(i)

6
10
12
19
20